<!--Carrosel-->

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!--Imagens - Carrosel-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'https://via.placeholder.com/1280x600', class: 'd-block w-100'%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://via.placeholder.com/1280x600', class: 'd-block w-100'%>
      </div>
      <div class="carousel-item">
        <%= image_tag 'https://via.placeholder.com/1280x600', class: 'd-block w-100'%>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
       <div class="card">
        <%= image_tag 'https://www.mercidisco.com.br/image/cache/data/guitar%20hero%20iii%20ost-800x800.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Guitar Hero III</h5>
          <p class="card-text">Jogo para Playstation 3, nunca usado.</p>
          <button type="button" class="btn btn-dark">Trocar Item</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/pt/6/6b/Capa_de_Crash_Tag_Team_Racing.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Crash Tag Team Racing</h5>
          <p class="card-text">Usado, porém funcionando normalmente. Para Play2 </p>
          <button type="button" class="btn btn-dark">Trocar Item</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag 'https://upload.wikimedia.org/wikipedia/pt/d/dd/Crash_Bandicoot_1_capa.png', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Crash Bandicoot</h5>
          <p class="card-text">Primeiro jogo da trilogia. Com alguns arranhões.</p>
          <button type="button" class="btn btn-dark">Trocar Item</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="card">
        <%= image_tag 'https://3.bp.blogspot.com/-gfbs0el5bM8/Tg5MDRi_QMI/AAAAAAAABVg/0ivjUfroqUg/s1600/Tony+Hawk%2527s+Pro+Skater+2+Cover.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">Tony Hawk's Pro Skater III</h5>
          <p class="card-text">TOP DEMAIS IRMÃO</p>
          <a href="/" class="btn btn-dark">Trocar Item</a>
        </div>
      </div>
    </div>
  </div>
</div>

  
        <%#= image_tag 'https://via.placeholder.com/500x500', class: 'card-img-top' %>
        