<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark bg-primary">
            <h2><a class="navbar-brand">Proposta de trocas</a></h2>
          </nav>
        </div>
        <% fetcher = Resource::GameFetcher.new GiantBomb::Game.method(:detail) %>
        <% if @proposals.empty? %>
          <div class="col-md-12 text-center mt-3">
            <h4>Nenhuma troca disponível.</h4>
          </div>  
        <% else %>
        <% @proposals.each do |proposal| %>
          <div class="col-md-12 mt-3">
            <div class="card">
              <div class="card-body d-flex">
                <div class="proposal-div">
                  <%= image_tag find_game(fetcher, proposal.given_game(current_user).id, 'image'), class: "proposal-img"
                  %>
                  <h6 class="mt-3 mb-0 text-center"><%= find_game(fetcher, proposal.given_game(current_user).id, 'name') %></h6>
                </div>
                <div class="arrow-div px-3 text-center align-self-center"><i class="fas fa-arrow-right fa-2x text-secondary"></i></div>
                <div class="proposal-div">
                  <%= image_tag find_game(fetcher, proposal.received_game(current_user).id, 'image'), class: " proposal-img" %>
                  <h6 class="mt-3 mb-0 text-center"><%= find_game(fetcher, proposal.received_game(current_user).id, 'name')%></h6>
                </div>
              </div>
              <div class="card-footer text-center">
                <div class="btns">
                  <%= link_to 'Trocar', answer_proposal_path(answer: true, proposal_id: proposal.id), method: 'post', remote: 'true', class: "btn btn-success accept"%>
                  <%= link_to 'Não trocar', answer_proposal_path(answer: false, proposal_id: proposal.id), method: 'post', remote: 'true', class: "btn btn-danger reject"%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>  
      </div>
    </div> <!-- Col-md-9 (Trocas) -->  

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark bg-warning">
            <h2><a class="navbar-brand text-dark">Propostas de trocas com usuários</a></h2>
          </nav>
        </div>
        <% if @matches.empty? %>
          <div class="col-md-12 text-center mt-3">
            <h4>Nenhuma troca disponível.</h4>
          </div>  
        <% else %>
        <% @matches.each do |match| %>
          <div class="col-md-12 mt-3">
            <div class="card">
              <div class="card-body d-flex">
                <div class="proposal-div">
                  <%= image_tag find_game(fetcher, match.proposal.given_game(current_user).id, 'image'), class: "proposal-img"
                  %>
                  <h6 class="mt-3 mb-0 text-center"><%= find_game(fetcher, match.proposal.given_game(current_user).id, 'name') %></h6>
                </div>
                <div class="arrow-div px-3 text-center align-self-center"><i class="fas fa-arrow-right fa-2x text-secondary"></i></div>
                <div class="proposal-div">
                  <%= image_tag find_game(fetcher, match.proposal.received_game(current_user).id, 'image'), class: " proposal-img" %>
                  <h6 class="mt-3 mb-0 text-center"><%= find_game(fetcher, match.proposal.received_game(current_user).id, 'name')%></h6>
                </div>
              </div>
              <p> Trocar com <%= match.users.find { |user| user != current_user }.name.camelize %>?</p>
              <div class="card-footer text-center">
                <%= link_to 'Trocar', answer_match_path(answer: true, match_id: match.id), method: :post, remote: true, class: "btn btn-success"%>
                <%= link_to 'Não trocar', answer_match_path(answer: false, match_id: match.id), method: :post, remote: true, class: "btn btn-danger"%>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>  
      
      </div>
     
    </div>
  </div>
</div>

