<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark bg-primary">
        <h2><a class="navbar-brand">Proposta de trocas</a></h2>
      </nav>
    </div>
    <% if @proposals.empty? %>
      <div class="col-md-12 text-center ">
        <h5 class="text-secondary mt-5">Nenhuma proposta disponível.</h5>
      </div>
    <% else %>
      <% fetcher = Resource::GameFetcher.new GiantBomb::Game.method(:detail) %>
      <% @proposals.each do |proposal| %>
        <div class="col-md-3 card-col">
          <div class="card">
            <%= image_tag find_game(fetcher, proposal.first_game_id, 'image'), class: "card-img-top" %>
            
            <div class="card-body">
              <h5 class="card-title mb-0"><%= find_game(fetcher, proposal.first_game_id, 'name') %></h5>
            </div>
            <div class="card-footer text-center">
              <%= link_to 'Trocar', answer_proposal_path(answer: true), method: :post, 
              remote: true, class: "btn btn-success" %>
              <%= link_to 'Não trocar', answer_proposal_path(answer: false), method: :post, 
              remote: true, class: "btn btn-danger"%>
            </div>
          </div> 
        </div>
        <%= image_tag find_game(fetcher, proposal.second_game_id, 'image'), class: "img-fluid" %>
      <% end %>
    <% end %>
  </div>
</div>

