<div class="container">
  <div class="row">
    <% @results.each do |game| %>
      <div class="col-md-3 col-6">
        <div class="card">
          <%= image_tag "#{game['image']['original_url']}", class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= game['name']%></h5>
            <% if user_signed_in? %>
              <%= link_to 'Quero', add_to_wishlist_path(id: game['id']), class: 'btn btn-primary',
                  method: :post, remote: true %>
              <%= link_to 'Tenho', add_to_ownlist_url(id: game['id']), class: 'btn btn-warning',
                  method: :post, remote: true %>
            <% else %>
              <p class="text-muted">
                <%= link_to 'Entre', new_user_session_path%> ou 
                <%= link_to 'registre-se', new_user_registration_path %> para trocar/receber este jogo!
              </p>
            <% end %>      
          </div>
       </div>
      </div>
    <% end %> 
    <div class="col-md-12 d-flex text-center justify-content-center">
      <%= paginate @results, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>